<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xchub.web.books.mapper.BooksMapper">
    <select id="getList" resultType="cn.xchub.web.books.entity.Books">
        select b.*,c.category_name from books as b , category as c where b.category_id = c.category_id
        <if test="param.categoryId != null and param.categoryId !=''">
            and c.category_id =#{param.categoryId}
        </if>
        <if test="param.bookName != null and param.bookName !=''">
            and b.book_name like CONCAT('%',#{param.bookName},'%')
        </if>
        <if test="param.bookPlaceNum != null and param.bookPlaceNum !=''">
            and b.book_place_num like CONCAT('%',#{param.bookPlaceNum},'%')
        </if>
        <if test="param.bookAuthor != null and param.bookAuthor !=''">
            and b.book_auther like CONCAT('%',#{param.bookAuther},'%')
        </if>
    </select>
    <select id="getHotBook" resultType="cn.xchub.web.books.entity.BookVo">
        select b.book_name as name, count(bb.reader_id) as value
        from books as b
                 left join borrow_book bb on b.book_id = bb.book_id
        group by bb.book_id
        order by value desc
        limit 10
    </select>
</mapper>
